.b1{
 background-image:"C:\Users\user\Desktop\women.jpj";
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;


}
.p1{
color:red;
font-family:Curlz MT;
text-align:center;
padding-top:200px;
}
.p2{
color:gray;
font-family:Kristen ITC;
text-align:center;
padding-top:10px;
}
.p3{

text-align:center;

}
